@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Terrace.Models.Paper>
@{
    ViewBag.Title = "Index";
}

<h2>试卷管理</h2>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section scripts
{
    @Scripts.Render("~/budles/jquerval")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
}
@{
    var ajaxOption = new AjaxOptions()
    {
        Confirm = "您确定删除么？",
        HttpMethod = "Post",
        OnComplete = "DeleteComplete",
    };
}
<script>
    function DeleteComplete() {
        window.location.reload();
    }
</script>
<br />
<h3>试卷列表</h3>
<table class="table">
    <tr>
        <th>
            试卷名称
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EditOn)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditOn)
            </td>
            <td>
                <div data-toggle="modal" data-target="#myModal">
                    @Ajax.ActionLink("详细", "Detail", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "question" }, new { role = "button", @class = "btn btn-info btn-sm" })
                </div>
            </td>
            <td>
                @*<a type="button" class="btn btn-primary" href="@Url.Action("Edit",new { id = item.Id})">
                        <span class="glyphicon glyphicon-edit"></span> 编辑
                    </a> |*@
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                @Ajax.ActionLink("删除", "Delete", new { id = item.Id }, ajaxOption, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("新建", "Create", "", new { @class = "btn btn-primary btn-sm" })

<div class="row">
    <div class="col-md-offset-4">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">详细内容</h4>
            </div>
            <div class="modal-body" id="question">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
